<!DOCTYPE html>
<html>
  <head>

    {% block head %}
    <link rel="stylesheet" type="text/css" href="/common.css">.
    <title>👨‍💻 | Laundry.sh</title>
    <meta charset="utf-8"/>
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    {% endblock %}

  </head>

  <body>
    {% block header %}
    <!-- Header -->
    <div class="banner">
      <h1 class="lw"><a href="/">laundry</a></h1>
    </div>
    {% endblock %}

    {% block navigation %}
    <!-- Navigation -->
    <div class="navigation">
      <ul class="nav_list">
        <li><a class="nav_list_item" href="/index.html">About Me</a></li>
        <li><a class="nav_list_item" href="/blog_posts/index.html">Blog</a></li>
        <li><a class="nav_list_item" href="/projects/index.html">Projects</a></li>
        <li><a class="nav_list_item" href="/career/index.html">Career</a></li>
        <li><a class="nav_list_item" href="/contact/index.html">Contact</a></li>
      </ul>
    </div>
    {% endblock %}


  <!-- Start your code here -->
  {% block content %}
  {% endblock %}

  </body>
</html>
