html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

body {
  background-color: #f0f7f4;
  grid-template-rows: 50pt auto auto;
  grid-template-columns: 175pt auto;
  display: grid;
  grid-template-areas: "header header header"
                       "nav  content content"
                       "nav  footer footer";

  font-family: 'Open Sans', sans-serif;
}

.banner {
  grid-area: header;
  display: flex;
  background-color: #32292f;

  align-items: center;
  justify-content: center;
}

.lw a { color: inherit;
        text-decoration: none; }
.lw { 
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt; 
  color: #ffffff;
  text-decoration: none;
}

.navigation {
  grid-area: nav;
  background-color: #99e1d9;
  font-family: 'Open Sans', sans-serif
}

.nav_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_list_item:hover {
  background-color: #82bfb8;
  color: #555555;
}

.nav_list_item {
  display: block;
  padding: 6pt 16pt;
  text-decoration: none;
  color: #000000;
}

.entry_title {
  text-align: center;
}

.content {
  grid-area: content;
  padding-left: 6pt;
  padding-right: 6pt;
}

.blog_post {
  display: flex;
  justify-content: center;
}

.job_header {
  vertical-aligh: middle;
}

.job_details {
  padding-left: 12pt;
}
