  <link rel="stylesheet" type="text/css" href="/common.css">
  <title>👨<200d>💻 | Laundry.sh</title>                                                                       
  <meta charset="utf-8"/>                                                                                      
                                                                                                               
  <!-- Fonts -->                                                                                               
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">                             
