{% extends "base.jinja" %}

{% block content %}
    <!-- About me -->
    <div class="content">
      <div class="about_me">
        <h3>Hello! I am Austin DeLauney, who goes under the alias of “Laundry”.</h3>
        <p>This is my personal website that showcases my work and outlines my career. If you'd like to get in contact with me to ask me about some of the things I do, feel free to contact me.</p>
        <p>I built this website from scratch with no javascript. The projects posted on here lead to pages that use WASM to display binaries on your computer.</p>
        <p> Some things I enjoy doing in my spare time are DMing for my small group of friends, working on my <a href="https://gitlab.com/laundry-96/pape-gen" rel="nofollow noreferrer" target="_blank">wallpaper generator</a>, working on this website, graphing some photos, and also watching anime/netflix/youtube.</p>
      </div>
    </div>
{% endblock %}
