{% extends "blog_posts/index.html" %}

    {% block content %}
    <!-- Blog Posts -->
    <div class="content">
      <h1 class="entry_title">
        An Update To Pape-Gen
      </h1>

      <p>
      Pape-Gen is currently undergoing some heavy restructuring to handle rotating shapes. With this comes a 
      lot of aggravation, as I do not know the math directly from the top of my head. The good news is that I
      stumbled across <a href="https://github.com/PistonDevelopers/imageproc">imageproc</a> which is made from
      the same people who made the <a href="https://github.com/PistonDevelopers/image">image crate</a> (Piston
      Developers)!
      </p>

      <p>
      The imageproc crate has some cool stuff that I would like to incorperate to pape-gen, like it's circles,
      or hollow squares. My only gripe is that they do not have rotation enabled, and the problem with implementing
      it is that they create the "shape" as an another ImageBuffer, and the height/width is precalculated,
      and when you rotate it, the height and width will be different than just a regular block. My current
      plan is to see how gimp fills in colors between borders.
      </p>

      <P>
      The next thing I wanted to tell you all is that I will be subitting pape-gen to be a study of generative
      art to submit to Rust-Conf this year! With that being said, I will be implementing <a 
      href="https://generativeartistry.com/">pieces of art from this website</a>. The first one requires
      diagonal lines, and although I can do that, I would like to implement some sort of "slope" where it 
      calculates the next block, instead of only doing 45 degree angles.
      </p>

      <p>
      Another thing that I would like to mention is that I have integrated automated tests, and a linter. The
      linting process only happens on non-master branches, so when you need to make a merge request, it will
      lint it, and then re-commit it. I know this may be bad practice, but having to lint and recommit just
      seemed like a waste of time so I automated it. The only downside is that if you push unlinted code, and
      push, and then commit more unlinted code, you will have to merge before you can push again.
      </p>

      <p>
      With that being said, I am looking forward to the hardships that will come, and you can bet that I'm
      going to be posting here about the hardships.
      </p>
    </div>
    {% endblock %}
