{% extends "base.jinja" %}

    {% block header %}
    <div class="banner">
        <h1 class="lw">Contact Me!</h1>
    </div>
    {% endblock %}

    {% block content %}
    <!-- About me -->
    <div class="content">
      <div class="about_me">
        <p>
          If you'd like to contact me and ask some questions about the work I do, or would like to inquire about some contracting, please feel free to email me at <a href="mailto:adelauney96@outlook.com">adelauney96@outlook.com</a>
        </p>

        <p>
          If you'd just like to give a quick shoutout please feel free to mention me on twitter at <a href="https://twitter.com/laundry_96">@laundry_96
        </a>
      </div>
    </div>
    {% endblock %}
