{% extends "blog_posts/index.html" %}

    {% block content %}
    <!-- Blog Posts -->
    <div class="content">
      <h1 class="entry_title">
        Creating A Website
      </h1>

      <p>
        So far, as I've sat down and worked on my website, I'd have to say the worst thing about it is learning HTML5 and CSS3 (Hopefully Javascript will not be added!).
      </p>
      <p>
        However, as I work more and more with these technologies, the more I understand them. For example. As of writing this post, I have created a more 'robust' CSS heirarchy. Many of the elements that makes up the skeleton of website (header, nav_bar, content, and footer) are handled in the root index.css, and styling of the content inside the content flexbox is handled inside the styling sheets that are in the specific directory.
      </p>

      <p>
        One thing that I actually also look forward to is the consolidation of html files in the same hierarchy files that I've been working with CSS in. This is so if I decided to rebrand parts of my website, like include a new nav bar item, I don't have to edit each page by hand.
      </p>

      <p>
        Something tells me that I should fix that sooner rather than later, because as I write more blog posts with this boiler plate HTML, the more cumbersome this will be to fix.
      </p>

      <p>
        That's it for now folks! If you have any questions/comments please feel free to email/tweet me!
      </p>
    </div>
    {% endblock %}
