{% extends "base.jinja" %}

    {% block header %}
    <div class="banner">
        <h1 class="lw">The Things I Get Paid To Do</h1>
    </div>
    {% endblock %}

    {% block content %}
    <!-- About me -->
    <div class="content">
      <h3 class="job_header">Koolspan</h3>
        <ul class="job_details">
          <li>Software Development:
            <ul>
              <li>Fixed bugs on the iOS app for TrustCall</li>
              <li>Assisted in a python script that disseminates localized strings for different languages from a CSV database for iOS and Android</li>
              <li>Experimented with <a href="https://github.com/java-native-access/jna">JNA</a> for a wrapping a C library</li>
              <li>Created an XMPP load tester in Java</li>
            </ul>
          <li>DevOps:
            <ul>
              <li>Migrate archaic Jenkins builds to Gitlab-Runners</li>
              <li>Restructure C/C++ projects to use Git submodules and <a href="https://www.cmake.org">CMake</a></li>
              <li>Create <a href="https://www.docker.com">Docker</a> images for consitent build machines, to make builds repeatable</li>
              <li>Created <a href="https://www.saltstack.com/">SaltStack</a> build images for creating Gitlab-Runner host machines</li>
              <li>Created an <a href="https://www.elastic.co/webinars/introduction-elk-stack">ELK stack</a> for aggregating all log files from different systems</li>
            </ul>
          <li> Technical Writing:
            <ul>
              <li>Updated README files on numerous softawre projects, allowing the developer to install/run the project</li>
              <li>Created a Developer Handbook to get new hires up and running on their development machines</li>
              <li>Created UML Diagrams detailing how the workflow of PM assigning bugs to completion of them </li>
              <li>Wrote a document in latex detailing how to set up an entire environment</li>
            </ul>
          </li>
        </ul>
      <h3 class="job_header">CASL</h3>
    </div>

    {% endblock %}
