{% extends "base.jinja" %}

    {% block header %}
    <div class="banner">
        <h1 class="lw">The Thoughts of Austin DeLauney</h1>
    </div>
    {% endblock %}

    {% block content %}
    <!-- Blog Posts -->
    <div class="content">
      <h1 class="blog_post">
        <p>
          <a href="./templating_html/templating_html.html" rel="nofollow noreferrer">Using Jinja to Template HTML</a> May. 6, 2020
        </p>
      </h1>
      <h1 class="blog_post">
        <p>
          <a href="./creating_files_in_the_run_dir/creating_files_in_the_run_dir.html" rel="nofollow noreferrer">Creating files in the run dir</a> June 29, 2019
        </p>
      </h1>
      <h1 class="blog_post">
        <p>
          <a href="update_to_pape_gen/update_to_pape_gen.html" rel="nofollow noreferrer">An Update to Pape-Gen</a> Jan. 13, 2019
        </p>
      </h1>
      <h1 class="blog_post">
        <p>
          <a href="creating_a_website/creating_a_website.html" rel="nofollow noreferrer">How To Create A Website</a> Nov. 24, 2018
        </p>
      </h1>
      <h1 class="blog_post">
        <p>
          <a href="./rust_bin_thinning_pt_1/rust_bin_thinning_pt_1.html" rel="nofollow noreferrer">’Thinning’ a Rust Binary, Part 1.</a> Oct. 30, 2018
        </p>
      </h1>
    </div>
    {% endblock %}
